html,body,div,span,h1,h2,p,a,img,ol,ul,li {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    line-height: none;
}
body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-track {
    background: #030016;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#030016,#4d5050 );
    border-radius: 10px;
}
:root {
    --textColor: hsl(251, 65%, 97%);
    --borderCard: 2px solid #575656;
    --bgSub: #111010fd;
    --liner: linear-gradient(to right, cyan,magenta);
}

/* General */

body {
    font-family: 'sans',sans-serif;
    color: white;
    background: #090213;
    background-image: url(../svg/laptop-beli-3.svg);
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}



.box {
    width: 400px;
    height: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bgSub);
    box-shadow: inset 0 0 1rem #0c0c0c,
                inset 0 0 1rem #030303;
    border: 2px solid #353535;
    border-radius: 1rem;
}
.judul {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box p {
    width: 40ch;
    font-size: 0.9rem;
    color: #a9acac;
}
.icon {
    color: lime;
    text-shadow: 0 0 1rem lime;
    font-size: 1.5rem;
}
.box button {
    width: 150px;
    height: 30px;
    border-radius: 1rem;
    color: white;
    border: 2px solid #575656;
    background: #202020;
    cursor: pointer;
    border: 2px solid #575656;
    transition: 300ms;
}



/* responsive */
@media screen and (max-width: 579px) {
    .box {
        width: 85%;
        height: 150px;
        padding-top: 2rem;
    }
    .judul {
        width: 100%;
    }
    .icon {
        display: none;
    }
    .box p {
        width: 40ch;
    }
    .box button {
        width: 120px;
    }
}