html,body,div,span,h1,h2,p,a,img,ol,ul,li {
    margin: 0;
    padding: 0;
}
/* @font-face {
    font-family: 'sans';
    font-display: fallback;
    src: url(../fonts/sans/SinkinSans-400Regular-webfont.woff) format('woff');
} */
body::-webkit-scrollbar {
    width: 4px;
}
body::-webkit-scrollbar-track {
    background: #030016;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,#030016,#4d5050 );
    border-radius: 10px;
}
:root {
    --textColor: hsl(251, 65%, 97%);
    --borderCard: 1px solid #3a89a1;
    --liner: linear-gradient(to right, cyan,magenta);
}
/* General */

body {
    font-family: 'sans',sans-serif;
    color: white;
    overflow-x: hidden;
    background-color: black;
}


.container {
    width: 100vw;
    overflow-x: hidden;
}
nav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    background: #080808d8;
    border-bottom: 1px solid #565858;
}
.navIcon {
    position: relative;
    left: -12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navIcon h2 {
    font-size: 2.5em;
    color: #d3d3d3;
}


.navItem {
    position: relative;
    right: -17rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}



.login {
    width: 100px;
    height: 40px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #eeebeb;
    background: linear-gradient(to right, #13e4e4e5, #d70ef1f6);
    border-radius: 3px;
    font-size: .8rem;
    position: relative;
}



.menu-toggle {
    width: 40px;
    height: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.menu-toggle input[type = checkbox] {
    position: absolute;
    top: -3px;
    left: -4px;
    width: 100%;
    height: 35px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1rem;
    transition: .3s;
    transform-origin: left;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(0px,-6px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    transform-origin: center;
    transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0px,6px);
}



.nav-toggle {
    position: fixed;
    width: 400px;
    height: 100%;
    visibility: hidden;
    transform: translateY(-100%);
    transition: 900ms;
    background-color: #09090aaf;
    backdrop-filter: blur(5px);
    top: 0;
    right: 0;
    z-index: 3;
    list-style: none;
    padding: 6vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: -1rem 0 2rem black;
    border-left: 1px solid #1f1f1f48;
}
.ganti {
    visibility: visible;
    transform: translateY(0);
}
.onoff {
    visibility: hidden;
    position: absolute;
}
.nav-toggle li {
    margin: -1rem 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-toggle li a {
    color: var(--textColor);
    text-decoration: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9rem;
    transform-origin: center;
    position: relative;
}
.nav-toggle li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--liner);
    z-index: -1;
}
.nav-toggle li a span {
    opacity: 0;
    transition: 700ms;
    color: cyan;
    text-shadow: 0 0 1rem cyan;
}
.nav-toggle li:hover a span {
    opacity: 1;
    transform: rotate(-230deg);
}

/* Navbar */




main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    box-sizing: border-box;
    padding: 7rem 0rem 5rem;
}
.grid-one {
    width: 60%;
    height: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr) );
    grid-template-rows: 80px 250px;
    justify-items: center;
    align-items: center;
}
.grid-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 900px;
    box-sizing: border-box;
    padding: 0 3rem;
}
.sub-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-one h2 {
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: #3a3939ce;
    border-radius: 1rem;
    padding: 0 20px;
    margin-bottom: 2rem;
}
.sub-one > ul {
    background-color: #0f0f0fc9;
    list-style: none;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 2px solid #3d3c3c;
    padding: 1rem 2rem;
}
.sub-one ul ul {
    list-style: none;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-left: 2rem;
}
.sub-two {
    border-radius: 1rem;
    border: 2px solid #3d3c3c;
    width: 95%;
    /* height: 270px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.sub-two .card:hover {
    transform: scale(1);
}
.sub-two .card span {
    border: none;
}
.pop {
    position: absolute;
    top: 2rem;
    right: -3rem;
    transform: rotate(45deg);
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d5c86;

}
.judul-promo {
    width: clamp(320px, 50%, 400px);
    grid-column: 1 / -1;
    box-sizing: border-box;
    padding: 0 20px;
    font-weight: 500;
    font-size: 1.3rem;
    height: 60px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    background-color: #3a3939ce;
    border-radius: 1rem;
}
.card {
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 300ms;
}
.card img {
    display: block;
    line-height: 0;
    max-width: 100%;
    border-radius: 10px;
}
.card span {
    width: 350px;
    height: 234px;
    position: absolute;
    box-sizing: border-box;
    background-color: #080808a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 300ms;
    border-radius: 10px;
    border: 2px solid #5f5e5e;
}
.card:hover {
    transform: scale(1.1);
}
.card:hover span {
    background-color: transparent;
}
.card:hover span p {
    opacity: 0;
}
.card:hover span button {
    transform: translateY(2rem);
    background: #181717;
}


.card span p {
    width: 15ch;
    transition: 500ms;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 5px;
}
.contb {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}
.card span button {
    transition: 300ms;
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    font-size: .8rem;
    outline: none;
    border: 2px solid #575656;
    background: #202020;
    color: white;
    cursor: pointer;
}
.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e1;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 500ms;
}
.fade-out {
    visibility: visible;
    opacity: 1;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: clamp(320px, 50%, 350px);
    height: 485px;
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    background-color: #080808d5;
    border: 1px solid #919494;
}
.boxAni {
    animation: boxani 700ms ease forwards;
}

@keyframes boxani {
    from {
        transform: scale(.3);
    }

    to {
        transform: scale(1);
    }
}

.box i {
    color: lime;
    text-shadow: 0 0 4px lime;
    font-weight: 400;
}
.close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}
.box h1 {
    text-align: center;
}
.gbr {
    width: 100%;
    height: 150px;
    margin: 1rem 0;
    border-radius: 1rem;
    background-image: url(../bg/bg5.jpg);
    background-size: cover;
    background-position: center;
}
.box ul {
    list-style: none;
}



.help {
    margin-top: 5rem;
    width: 80%;
    background-color: red;
}



/* footer Area */

footer {
    width: 100%;
    background: #080808fa;
    border-top: 1px solid crimson;
    display: flex;
    position: relative;
    bottom: 0;
}
.foot-1 {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-right: 1px solid crimson;
    padding: 20px 0;
}
.icon-support {
    border: 1px solid #384696;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}
.first img {
    transform: translate(-2px,1px);
}
.foot-1 h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    transform: translateX(10px);
}
.foot-1 li:first-child {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}
.foot-1 li p {
    font-size: 1rem;
    cursor: pointer;
}
.foot-1 li:nth-child(2) {
    width: 220px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}
.foot-1 li:last-child {
    width: 220px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.foot-2 {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 40px 0;
}
.foot-2 h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    height: 40px;
    font-weight: 500;
}
.foot-2 p {
    margin-top: 3px;
    line-height: 1.1rem;
    text-indent: 5px;
    font-size: .9rem;
    width: 70%;
}
.social-media {
    margin-top: 10px;
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.social-media li {
    border: 1px solid #374597;
    border-radius: 10px;
    width: 39px;
    height: 39px;
    display: grid;
    place-items: center;
    cursor: pointer;
}



/* responsive */
@media screen and (max-width: 576px) {
    nav {
        justify-content: space-around;
        height: 80px;
    }
    .navIcon {
        left: -1rem;
    }
    .navItem {
        right: -1rem;
        justify-content: center;
    }
    .nav-toggle {
        padding: 4vh 0;
        width: 100vw;
        backdrop-filter: blur(0);
        background-color: #0b0b0cfa;
        border: none;
        box-shadow: none;
    }
    .login {
        display: none;
    }
    .onoff {
        visibility: visible;
        position: static;
    }

    /* Area navbar responsive */


    .grid-one,
    .grid-two {
        width: 100%;
        order: 2;
    }
    .grid-two {
        height: 925px;
        margin-bottom: 2rem;
        justify-content: space-between;
        order: 1;
    }


    .sub-one > ul {
        height: 600px;
    }
    .sub-one ul ul {
        height: 90px;
    }
    .sub-two{
        width: 350px;
        height: 210px;
        padding: 0 1rem;
        box-sizing: border-box;
    }
    .sub-two .card {
        width: 350px;
        height: 200px;
    }
    .sub-two .card span {
        width: 100%;
    }


    .card {
        width: 335px;
        height: 250px;
    }
    .card span {
        width: 335px;
        height: 225px;
    }
    .card:hover {
        transform: scale(1.04);
    }
    /* main area */


    footer {
        flex-wrap: wrap;
    }
    .foot-1{
        border-right: none;
    }
    .foot-1,
    .foot-2 {
        width: 100%;
        padding: 2rem; 
        border-bottom: 1px solid crimson;
    }
    .foot-2 {
        order: 1;
    }
    .foot-2 p {
        width: 90%;
    }
    .social-media {
        margin-top: 1rem;
        width: clamp(160px, 50%, 170px);
    }
    .foot-1 {
        order: 2;
    }
    .foot-1 h2 {
        transform: translateX(0px);
    }
}